<table style="text-align: center; color: gray; position: relative; border-collapse: collapse; margin-left: auto; margin-right: auto;">
    <tr>
        <th>Proxy</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.}}</td>
    </tr>
    {{end}}
</table>