<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="text-align: center; font-family: Arial, sans-serif; font-size: 18px;">
	<h1 style="position: relative; color: #4fbbd6; margin-top: 0.2em;">Proxy-checker</h1>
	<p style="position: relative; max-width: 20em; margin: 0 auto 1em auto; line-height: 1.4em; font-size: 15px;">Free online proxy checker service that evaluates the performance of proxy servers.</p>
	<div style="background-color: #eee; max-width: 20em; margin: 0 auto; border-radius: 0.4em; padding: 0.5em;">
		<p style="position: relative; margin: 0 0 0.5em 0;">Proxy list:</p>
		<p style="position: relative; font-size: 0.7em; opacity: 0.8;"><i>If you have public proxies (without username and password), then IP:PORT</i></p>
		<textarea rows="16" style="resize: vertical; width: 90%; position: relative; font-family: monospace; background-color: #fff; margin: 0; padding: 0.5em; word-break: break-all; text-align: left; border-radius: 0.8em; -webkit-user-select: all; user-select: all;" placeholder="Type your proxies here...&#13;&#10;127.0.0.1:8081&#13;&#10;192.168.1.1:80"></textarea>
	</div>
</div>
</body>
</html>